<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chipset.revels">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".application.AcraInitApplication"
        android:theme="@style/TealTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.InstaFeedActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_insta_feed_activity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.FollowingActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_following"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".activities.DetailDialogActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activities.ResultsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_results_activity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DeveloperActivity"
            android:label="@string/title_activity_developer"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.DevDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activities.WebViewActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_web_view"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chipset.revels.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ContactActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chipset.revels.activities.MainActivity" />
        </activity>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="92dd36c7ef95c5cec0634255708f51d2b1851bf8" />
    </application>
</manifest>
